button {
  background: none;
  border: none;
  color: inherit;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: var(--White);
}

h4 {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 800;
}

.darkMode {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.darkMode svg {
  padding-right: 0.5rem;
}

.flagContainer {
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

main {
  align-items: center;
  min-height: 66.1vh;
}

.container {
  display: flex;
  flex: 1;
  gap: 3rem;
  padding: 1rem 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.flag img {
  height: 200px;
  width: 300px;
}

.countryDetails {
  padding: 1.5rem;
}

.countryName {
  padding: 1rem 0;
  font-weight: 800;
  font-size: 18px;
}
.searchBar {
  color: var(--Dark-Gray);
  padding: 1rem 2rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: inherit;
}
select {
  padding: 1rem;
  border: none;
}

.filter,
.sort {
  padding: 1rem;
  border-radius: 8px;
}

.searchAndFilter {
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  justify-content: space-between;
}

input[type="text"] {
  border: none;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
}

.backBtn {
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.backBtn svg {
  padding: 0 0.5rem 0 0;
}

.backBtnContainer {
  padding: 2rem;
}

.flagDetailContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 78vh;
}

.flagDetailContainer img {
  max-width: 730px;
  min-height: 268px;
  width: 100%;
  height: 90%;
  padding: 2rem;
}

.details {
  line-height: 2;
  flex: 1;
  font-size: 18px !important;
  padding: 2rem;
}

.countryStats {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.countryStats div {
  min-width: 291px;
  flex: 1;
  padding: 1rem;
}

.details > h2 {
  padding: 1rem 2rem;
  font-size: 28px !important;
  font-weight: 800;
}

.borderCountries {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.borderCountries button {
  padding: 1rem;
}

.error-page{
  text-align: center;
}
