@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* (Dark Mode Elements) */
  --Dark-Blue: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --Very-Dark-Blue-dark: hsl(207, 26%, 17%);
  /* (Light Mode Text) */
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --Dark-Gray: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  flex: 1;
}
